@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Whatsapp!!</h1>
    <p><a asp-controller="Home" asp-action="Login">Login to Continue</a></p>
</div>
